html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.parent {
  width: 50%;
  border: 5px solid royalblue;
}

.child {
  widows: 100%;
  padding: 20%;
  border: 4px solid black;
}
